test/functional_tests/t6/data/prev_dbRoot/F*
test/functional_tests/t6/data/oldCheckPoint.chk
test/functional_tests/t7/data/*.ser
test/functional_tests/run_18.sh
build/*.jar
build/manifest.mf
build/lib
build/dist
build/images
lib/DENOPTIM.jar
bin/
src/misc/GraphListAnalysis/
.idea
*.iml
