test/functional_tests/t6/data/prev_dbRoot/F*
test/functional_tests/t6/data/oldCheckPoint.chk
test/functional_tests/t7/data/*.ser
doc/_build
doc/.DS_Store
build/*.jar
build/manifest.mf
build/lib
build/dist
build/images
lib/DENOPTIM.jar
bin/
.idea
*.iml
*.swp
/target/
