name: 'Publish Conda Package'

on:
  push:
    tags:
      #TODO: temove 'todo_reactivate_'
      - todo_reactivate_v[0-9]+.[0-9]+.[0-9]+

env:
  ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}

jobs:
  build-and-publish:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout repo
      uses: actions/checkout@master

    - name: Get version identifier
      id: get_version
      run: |
        echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}
        echo ${GITHUB_REF#refs/tags/v}

    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        auto-activate-base: false
        activate-environment: anaconda-client-env
        environment-file: conda/environment.yml

    - name: Build package and publish
      run: |
        conda config --set anaconda_upload yes
        conda build -c conda-forge  .
      env:
        DENOPTIM_VERSION: ${{ steps.get_version.outputs.VERSION }}

